<ion-view title="Configurações" id="configuracoes" ng-controller="configuracoesController" class="bgcolor2" ng-init="getDataSincronizacao()">
  <ion-content class="has-header">
    <ul class="list">
      <li class="item">Usuário:
        <span class="item-note">{{usuario.email}}</span>
      </li>
      <li class="item">Última sincronização:
        <span class="item-note">{{dataSincronizacao}} {{horaSincronizacao}}</span>
      </li>
      <li>
        <ion-toggle ng-model="lembreteNoturno" toggle-class="toggle-calm" ng-change="agendarLembreteNoturno()">Lembrete noturno: </ion-toggle>
      </li>
      <li>
        <ion-toggle ng-model="sonsSistema" toggle-class="toggle-calm" ng-change="configurarSonsSistema()">Sons de sistema: </ion-toggle>
      </li>
    </ul>
  </ion-content>
</ion-view>