<ion-view title="Configurações" id="configuracoes" ng-controller="configuracoesController" class="bgcolor2" ng-init="getDataSincronizacao()">
  <ion-content class="has-header">
    <ul class="list">
      <li class="item">Usuário:
        <span class="item-note">{{usuario.email}}</span>
      </li>
      <li class="item">Última sincronização:
        <span class="item-note">{{dataSincronizacao}} {{horaSincronizacao}}</span>
      </li>
      <li>
        <ion-toggle ng-model="jornada" toggle-class="toggle-calm" ng-change="agendarJornada()">Jornada da Gratidão: </ion-toggle>
      </li>
      <li class="item item-input item-select" ng-disabled="!jornada">
        <div class="input-label">
          Hora Jornada da Gratidão
        </div>
        <select name="horarioJornadaGratidao" ng-disabled="!jornada" ng-model="horarioJornada.hora.horaEscolhida" ng-options="horaEscolhida for horaEscolhida in horarioJornada.horas">
        </select>
      </li>
      <li>
        <ion-toggle ng-model="lembranca" toggle-class="toggle-calm" ng-change="configurarLembranca()">Mensagens nostálgicas: </ion-toggle>
      </li>
      <li>
        <ion-toggle ng-model="sonsSistema" toggle-class="toggle-calm" ng-change="configurarSonsSistema()">Sons de sistema: </ion-toggle>
      </li>
    </ul>
  </ion-content>
</ion-view>