<ion-view hide-nav-bar="true" ng-controller="jornadaGratidaoController">
  <ion-content scroll="false" class="">
    <div class="">
      <div class="box text-center">
        <h3 class="fontcolor1 shadow1">{{jornada.titulo}}</h3>
        <h4 class="fontcolor1">{{jornada.texto}}</h4>
        <button class="button button-light button-full fontcolor4 font-bold" ng-click="escreverMensagem()">Escrever agora!</button>
      </div>
      <button class="button button-icon icon ion-android-arrow-forward fontcolor1" ng-click="goHome()"></button>
    </div>
  </ion-content>
</ion-view>