<ion-side-menus enable-menu-with-back-views="false" ng-controller="menuController">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-energized">
      <ion-nav-back-button></ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="side-menu21"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" id="side-menu21" style="background-color:#FF8441;">
    <ion-content padding="false" style="top:0px !important;" class="side-menu-left ">
      <ion-list id="menu-list1">
        <ion-item class="item-icon-right listaTransparente" id="menu-list-item2" ui-sref="menu.sejaGrato" menu-close="">Seja Grato!
          <i class="icon ion-heart fontcolor1"></i>
        </ion-item>
        <ion-item class="item-icon-right listaTransparente" id="menu-list-criarConta" ui-sref="menu.login" menu-close="" ng-show="!statusUsuario">Login
          <i class="icon fontcolor1 ion-android-person"></i>
        </ion-item>
        <ion-item class="item-icon-right listaTransparente" id="menu-list-criarConta" ui-sref="menu.criarConta" menu-close="" ng-show="!statusUsuario">Cria Conta
          <i class="icon fontcolor1 ion-android-person-add"></i>
        </ion-item>
<!--         <ion-item class="item-icon-right listaTransparente" id="menu-list-historico" ui-sref="menu.historico" menu-close="" ng-show="dadosLocal">Histórico
        <i class="icon fontcolor1 ion-ios-list"></i>
        </ion-item> -->
        <ion-item class="item-icon-right listaTransparente" id="menu-list-historico" ui-sref="menu.configuracoes" menu-close="" ng-show="statusUsuario">Configurações
        <i class="icon fontcolor1 ion-android-settings"></i>
        </ion-item>
        <ion-item class="item-icon-right listaTransparente" id="menu-list-item4" ui-sref="menu.sobre" menu-close="">Sobre
          <i class="icon ion-information-circled fontcolor1"></i>
        </ion-item>
        <ion-item class="item-icon-right listaTransparente" id="menu-list-fazerLogout" ng-show="statusUsuario" ng-click="sair()" menu-toggle="left">Sair
        <i class="icon fontcolor1 ion-android-exit"></i>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>