<ion-view hide-nav-bar="true" ng-controller="motivacionalController">
  <ion-content scroll="false" class="">
    <div class="">
      <div class="box text-center">
        <h4 class="fontcolor1">Você lembra do que se sentiu grato em {{lembranca.data}}?</h4>
        <h4 class="fontcolor1">Você escreveu o seguinte:</h4>
        <h3 class="fontcolor1 shadow1">'{{lembranca.texto}}'</h3>
        <h5 class="fontcolor1">Que tal aproveitar e escrever agora uma mensagem de gratidão relacionada a essa?</h5>
        <h5 class="fontcolor1">Quando sentimos gratidão várias vezes pela mesma coisa, isso se torna um hábito e ficamos ainda mais felizes quando aquilo volta a acontecer!</h5>
      </div>
      <button class="button button-icon icon ion-android-arrow-forward fontcolor1" ng-click="home()"></button>
    </div>
  </ion-content>
</ion-view>