<ion-view title="Seja Grato!" id="page1" ng-controller="HomeController">
<ion-nav-buttons side="right" class="has-header">
  <select name="filtroMensagens" id="" ng-model="filtroDia.opcao.opcaoEscolhida" ng-options="opcaoEscolhida for opcaoEscolhida in filtroDia.opcoes" class="bordercolor3 fontcolor3 selectFiltro">
  </select>
<!-- <button class="button icon ion-loop" ng-click="notificacaoRapida()"></button> -->
<!-- <button class="button icon ion-camera"></button> -->
<!-- Botão de câmera -->
</ion-nav-buttons>
<ion-content class="has-header" ng-click="hideButtonsOptions()" class="contentPrincipal" ng-style="{'background-image': 'url(' + imagemSorteada + ')'}">
<ion-refresher pulling-text="Sincronizando Mensagens" on-refresh="sincronizar()" ng-if="$root.statusUsuario">
</ion-refresher>
<form id="sejaGrato-form1" class="list padding" name='sejaGratoForm'>
  <div class="spacer spacer-25"></div>
  <label class="item item-input no-border" id="sejaGrato-input1">
    <textarea placeholder="Hoje eu estou grato por..." ng-model="lista.texto" class="text-center font-bold no-border" rows="2" required></textarea>
  </label>
</form>
<button id="sejaGrato-button1" class="fontcolor1 button buttonCustom button-block text-uppercase" ng-click="salvarTexto()">Sim, estou grato!</button>
<div class="spacer spacer-25"></div>
<!-- Exibir essa parada aqui, só quando não tiver itens no repeat -->
<div id="sejaGrato-markdown1" class="show-list-numbers-and-dots text-center" ng-show="mensagensFiltradas.length < 1">
  <p class="fontcolor1"><em>{{mensagemSorteada.frase}}</em></p>
  <span class="fontcolor1">{{mensagemSorteada.autor}}</span>
</div>
<!-- Modal -->
<script id="templates/modalTextoGratidao.html" type="text/ng-template">
  <ion-modal-view class="modalCustom">
  <ion-header-bar class="bar-energized">
  <button class="button bgcolor3 bordercolor3" ng-click="modal.hide()">
    <i class="icon ion-android-arrow-back"></i>
  </button>
  <h1 class="title title-center">Editar Mensagem</h1>
  <button class="button fontcolor4 button-primary button-icon ion-checkmark-round buttonSalvarModal" ng-click="editarTexto()"></button>
</ion-header-bar>
<ion-content class="padding">
<textarea rows="1" ng-change="tamanhoTextarea()" class="fontcolor3 bordercolor1 textareaModal" required ng-model="mensagemSelecionada.texto"></textarea>
</ion-content>
</ion-modal-view>
</script>
<!-- Colocar um ng-repeat aqui -->
<ion-list id="sejaGrato-list3" ng-repeat="mensagem in lista | orderBy:data:true | filter: dataFiltrada as mensagensFiltradas">
<ion-item class="listaTransparente" id="sejaGrato-list-item11" ng-click="visualizarTexto(mensagem, $index)">
<span>{{mensagem.texto}}</span>
<span class="data">{{mensagem.data}}</span>
<ion-option-button class="button-assertive buttonExcluir" ng-click="excluirTexto(mensagem)"><span class="ion-trash-a"></span></ion-option-button>
</ion-item>
</ion-list>
</ion-content>
</ion-view>