<ion-view title="Seja Grato!" id="page1">
  <ion-nav-buttons side="right" class="has-header">
    <button class="button icon ion-camera"></button>
  </ion-nav-buttons>
  <ion-content padding="true" class="has-header">
    <form id="sejaGrato-form1" class="list">
      <div class="spacer" style="height: 25px;"></div>
      <label class="item item-input" id="sejaGrato-input1">
        <input type="text" placeholder="Hoje eu estou grato por...">
      </label>
    </form>
    <button id="sejaGrato-button1" style="color:#FFFFFF;" class="button button-light  button-block button-outline">Sim, estou grato!</button>
    <div class="spacer" style="height: 25px;"></div>
    <div id="sejaGrato-markdown1" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#FFFFFF;font-size:16px;">Frase motivadora</p>
    </div>
    <ion-list id="sejaGrato-list3">
      <ion-item class="energized" id="sejaGrato-list-item11">Item 1</ion-item>
    </ion-list>
  </ion-content>
</ion-view>