<ion-view title="Sobre" id="page2">
  <ion-content padding="true" class="has-header">
    <div class="spacer" style="height: 25px;"></div>
    <div>
      <a style="display:block;" href-inappbrowser="http://www.andrefelizardo.com.br">
        <img src="img/dV04LsXaRxyoXOieLqOM_icone.png" style="display: block; width: auto; height: 100px; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="height: 50px;"></div>
    <ion-list id="sobre-list2">
      <ion-item class="item-icon-left energized" id="sobre-list-item5" href="mailto:contato@andrefelizardo.com.br">
        <i class="icon ion-email"></i>contato@andrefelizardo</ion-item>
      <ion-item class="item-icon-left energized" id="sobre-list-item6" href-inappbrowser="http://facebook.com/andrefelizardopage">
        <i class="icon ion-social-facebook"></i>André Felizardo</ion-item>
      <ion-item class="item-icon-left energized" id="sobre-list-item7" href-inappbrowser="http://www.andrefelizardo.com.br">
        <i class="icon ion-android-desktop"></i>andrefelizardo.com.br</ion-item>
    </ion-list>
  </ion-content>
</ion-view>