<ion-view title="Sobre" id="page2">
  <ion-content class="has-header">
    <div class="spacer spacer-50"></div>
    <div>
      <a class="d-block" href-inappbrowser="http://www.andrefelizardo.com.br">
        <img src="img/dV04LsXaRxyoXOieLqOM_icone.png" class="d-block logo">
      </a>
    </div>
    <div class="spacer spacer-50"></div>
    <ion-list id="sobre-list2">
      <ion-item class="item-icon-left energized" id="sobre-list-item5" href="mailto:contato@andrefelizardo.com.br">
        <i class="icon ion-email"></i>sejagrato@andrefelizardo</ion-item>
      <ion-item class="item-icon-left energized" id="sobre-list-item6" href-inappbrowser="http://facebook.com/andrefelizardopage">
        <i class="icon ion-social-facebook"></i>André Felizardo</ion-item>
      <ion-item class="item-icon-left energized" id="sobre-list-item7" href-inappbrowser="http://www.andrefelizardo.com.br/sejagrato">
        <i class="icon ion-android-desktop"></i>andrefelizardo.com.br/sejagrato</ion-item>
    </ion-list>
  </ion-content>
</ion-view>