<ion-view hide-nav-bar="true">
<ion-content scroll="false">
  <ion-slides  options="options" slider="data.slider" class="tutorial">
    <ion-slide-page class="slide1">
      <div class="box">
        <img src="img/seja-grato_logo.png" class="logo">
        <!-- <span>Próximo</span> -->
      </div>
    </ion-slide-page>
    <ion-slide-page class="slide2">
      <div class="box">
         <img src="img/seja-grato_logo.png" class="logo">
      </div>
    </ion-slide-page>
    <ion-slide-page class="slide3">
      <div class="box">
         <img src="img/seja-grato_logo.png" class="logo">
      </div>
    </ion-slide-page>
    <ion-slide-page class="slide4">
      <div class="box">
        <img src="img/seja-grato_logo.png" class="logo">
      </div>
    </ion-slide-page>
  </ion-slides>
</ion-content>
</ion-view>
