 <ion-view hide-nav-bar="true" ng-controller="tutorialLoginController">
 <ion-content scroll="false" class="tutorialContent">
  <div class="tutorialLogin tutorial">
    <div>
        <!-- <img src="img/seja-grato_logo.png" class="logo"> -->
        <div class="box">
          <h3 class="fontcolor1">Excelente!</h3>
          <h4 class="fontcolor1">Agora sempre que você quiser, poderá salvar suas mensagens de gratidão na nuvem. Com isso você pode até trocar de celular, que vai continuar com suas lembranças guardadas!</h4>
          <img src="img/pullToRefresh.gif">
        </div>
        <button class="botaoProximo button button-icon icon ion-android-arrow-forward fontcolor1" ng-click="home()"></button>
    </div>
  </div>
  </ion-content>
 </ion-view>