 <ion-view hide-nav-bar="true" ng-controller="tutorialController">
 <ion-content scroll="false">
  <ion-slide-box class="tutorial">
    <ion-slide class="slide3">
        <img src="img/seja-grato_logo.png" class="logo">
        <div class="box">
          <h4 style="margin-bottom: 20px;">Venha com a gente nesse desafio diário. Use o app para celebrar qualquer coisa que tenha te deixado feliz no dia de hoje.</h4>
          <h5>Chegou no horário no trabalho? Descobriu um restaurante novo? Achou R$ 5 no bolso do casaco? Seu time ganhou? Você tem muito a ser grato todo dia! Que tal começar agora?</h4>
        </div>
        <button class="botaoProximo button" ng-click="sairSlide()">Começar!</button>
    </ion-slide>
  </ion-slide-box>
  </ion-content>
 </ion-view>