.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
	font-size: 40px;
}
ion-header-bar.bar.bar-energized {
	background: #fff!important;
	border-bottom: 1px solid;
}
ion-header-bar.bar.bar-energized .title {
	color: #FF8441!important;
}
ion-header-bar.bar-energized .button.button-clear {
	color: #5588ee;
}
#page1 .scroll-content {
	background: url('../img/tela-inicial-white.png') center center no-repeat;
	background-size: cover;
}
.buttonCustom {
	border-radius: 0;
	background-color: #5588ee;
}
input[type=email]::-webkit-input-placeholder, input[type=password]::-webkit-input-placeholder {
	color: #fff;
}
textarea::-moz-placeholder {
	/* font-size: 125%; */
	font-weight: lighter;
	text-align: center;
}
textarea:-ms-input-placeholder {
	/* font-size: 125%; */
	font-weight: lighter;
	text-align: center;
}
textarea::-webkit-input-placeholder {
	/* font-size: 125%; */
	font-weight: lighter;
	text-align: center;
}
.side-menu-left ion-item {
	font-size: 110%;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.list.padding {
	margin-bottom: 0;
}
.platform-android .bar .title.title-left {
/*	text-align: center!important;
	margin-left: -5%;*/
}
body {
	font-size: 1em;
}
.font-bold {
	font-weight: bold;
}
.fontcolor1 {
	color: #fff!important;
}
.fontcolor2 {
	color: #53c0da!important;
}
.fontcolor3 {
	color: #5588ee!important
}
.fontcolor4 {
	color: #ff8441!important;
}
.bgcolor1 {
	background-color: #FF8441!important;
}
.bgcolor2 {
	background-color: #fff!important;
}
.bgcolor3 {
	background-color: #5588ee!important;
}
.bordercolor3 {
	border-color: #5588ee!important;
}
.text-center {
	text-align: center;
}
.text-uppercase {
	text-transform: uppercase;
}
.no-decoration {
	text-decoration: none;
}
.no-border {
	border: none;
}
#menu-list1 .list {
    margin-top: 4em;
}
#menu-list1 .item.listaTransparente:first-child {
    border-top: none;
}
#menu-list1 .item {
    line-height: 25px;
}
#menu-list1 i.icon {
    font-size: 25px;
}
.buttonSalvarModal:before {
    font-size: 30px!important;
}
.item.listaTransparente {
	background: transparent;
	color: #fff;
	/* font-weight: bold; */
}
.listaTransparente .data {
	font-size: .75em;
	display: block;
}
.listaTransparente.item-complex .item-content {
	background: transparent;
}
.listaTransparente .icon-accessory {
	color: #fff;
}
#sejaGrato-list3 .listaTransparente.item-complex .item-content {
    background: rgba(1, 1, 1, 0.4);
}
.scroll-refresher .ionic-refresher-content {
	/* color: #fff; */
}
.scroll-refresher .spinner {
	/* fill:#fff; */
	/* stroke: #fff; */
}
/* ion-view#login, #login.pane {
	background: #fff;
} */
.modalCustom {
	background-image: url("../img/line-border.png");
}
.tutorial {
	text-align: center;
	height: 100%;
}
.tutorial .logo {
	height: 50px;
	margin: 1.5em;
}
.tutorial .box {
	margin-top:25%;
	color:#1a1a1a;
	padding: 0 1em;
}
.tutorial .botaoProximo {
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.tutorial .box .caixaTexto {
	background: rgba(1, 1, 1, 0.1);
	padding: 1em;
	box-sizing: border-box;
	border-radius: 10px;
}
.tutorial .slide1 {
	background: url('../img/tutorial-01.png') center center no-repeat;
	background-size: cover;
}
.tutorial .slide2 {
	background: url('../img/tutorial-02.png') center center no-repeat;
	background-size: cover;
}
.tutorial .slide3 {
	background: url('../img/tutorial-03.png') center center no-repeat;
	background-size: cover;
}
.tutorialContent {
	background: #5588ee;
}