.bar .button.button-icon .icon:before, .bar .button.button-icon:before, .bar .button.button-icon.icon-left:before, .bar .button.button-icon.icon-right:before, .bar button.button-icon .icon:before, .bar button.button-icon:before, .bar button.button-icon.icon-left:before, .bar button.button-icon.icon-right:before {
	font-size: 40px;
}
textarea::-moz-placeholder {
	font-size: 110%;
}
textarea:-ms-input-placeholder {
	font-size: 110%;
}
textarea::-webkit-input-placeholder {
	font-size: 110%;
}
.side-menu-left ion-item {
    font-size: 110%;
}
.pull-left {
	float: left;
}
.pull-right {
	float: right;
}
.list.padding {
	margin-bottom: 0;
}
.platform-android .bar .title.title-left {
	text-align: center!important;
	margin-left: -5%;
}
body {
	font-size: 1em;
}
.fontcolor1 {
	color: #fff!important;
}
.bgcolor1 {
	background-color: #FF8441!important;
}
.text-center {
	text-align: center;
}
.item.listaTransparente {
	background: transparent;
	color: #fff;
	/* font-weight: bold; */
}
.listaTransparente .data {
	font-size: .75em;
	display: block;
}
.listaTransparente.item-complex .item-content {
	background: transparent;
}
.listaTransparente .icon-accessory {
	color: #fff;
}
.scroll-refresher .ionic-refresher-content {
	color: #fff;
}
.scroll-refresher .spinner {
	fill:#fff;
	stroke: #fff;
}
.tutorial {
	text-align: center;
	height: 100%;
}
.tutorial .logo {
	height: 50px;
	margin: 1.5em;
}
.tutorial .box {
	margin-top:25%;
	color:#1a1a1a;
	padding: 0 1em;
}
.tutorial .botaoProximo {
	position: absolute;
	bottom: 10px;
	right: 20px;
}
.tutorial .box .caixaTexto {
	background: rgba(1, 1, 1, 0.1);
	padding: 1em;
	box-sizing: border-box;
	border-radius: 10px;
}
.tutorial .slide1 {
	background: url('../img/tutorial-01.png') center center no-repeat;
	background-size: cover;
}
.tutorial .slide2 {
	background: url('../img/tutorial-02.png') center center no-repeat;
	background-size: cover;
}
.tutorial .slide3 {
	background: url('../img/tutorial-03.png') center center no-repeat;
	background-size: cover;
}
.tutorialContent {
	background: #50a7f9;
}
.tutorialLogin * {
	color: #1a1a1a;
}